<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <input type="text" v-model="inputText"> 
            <button @click="submitForm" v-show="!updateSubmit"> Add </button>
            <button @click="updateName" v-show="updateSubmit"> Update </button>
        </div>
        <ul>
            <crud v-for="(name, index) in names" :name="name" :key="index" :index="index" @delete="removechild"></crud>
        </ul>
    </div>
    <template id="crud-template">
        <div>
            <li style="margin: 10px 0">
                {{ name.name }}
                 <button @click="update">Edit</button>
                 ||
                 <button @click="deleteName">Delete</button>
            </li>
            
        </div>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        Vue.component('crud',{
            template: '#crud-template',
            props: ['name', 'index'],
            data:function() {
                return {
                    
                }
            }, 
            methods: {
                deleteName:function() {
                    const confirmation = confirm("Yakin melakukan ini?")
                    return confirmation ? this.$emit("delete", this.name) : '' 
                },
                update(){
                    this.$root.updateSubmit = true 
                    this.$root.inputText = this.name.name
                    this.$root.indexUpdate = this.index
                }
            },
        })
        var vm = new Vue({
            el: '#app',
            data: {
                names: [
                    { name: 'Alex' }, 
                    { name: 'Bei' },
                    { name: 'Opsi' },  
                ],
                inputText: '',
                updateSubmit: false,
                indexUpdate: 0,
            }, 
            methods: {
                submitForm: function() {
                    this.names.push( { name: this.inputText })
                    this.inputText = ''
                }, 
                removechild(name){
                    this.names = this.names.filter((item)=>{ return item.name != name.name });
                }, 
                updateName:function(){
                    this.names[this.indexUpdate].name = this.inputText 
                    this.inputText = ''
                }
            }, 


        })
    </script>
</body>
</html>