<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" v-model="searchQuery">
            <ul>
               <li v-for="nameBook in filterList"> {{ nameBook }}</li> 
               <div v-if="filterList.length === 0">Not Found</div>
            </ul>

        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script>
        var vm = new Vue({
            el: '#app', 
            data: {
                listBooks: [
                    'Kalkulus Dasar', 
                    'Fisika Dasar', 
                    'Aljabar Linier Elementer', 
                    'Aljabar Abstrak', 
                    'Algoritma Pemrograman',
                ], 
                searchQuery: '',
            }, 
            computed: {
                filterList() {                    
                    return this.listBooks.filter( book => book.toLowerCase().indexOf(this.searchQuery.toLowerCase()) !== -1 )
                }
            }
        })
    </script>
</body>
</html>